@import '../global_config';
@import '../global_mixins';

@import 'typography_config';
@import 'typography_mixins';

/*
    TYPOGRAPHY
*/

/* Base styles */

body,
input,
textarea,
select {
    font-family: @face_a;
    .font-size(@size_base);
    .leading(@leading_base);
    color: @color_base;
}

a {
    color: @color_base;
}

::selection {
    background-color: @color_base;
    color: @color_white;
}

.font-trigger {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    bottom: 100%;
    left: 0;

    em {
        font-family: @face_b;
    }
}

.font-face('Novecentowide', 'Novecento/Novecentowide-Book-webfont', normal, normal);
.font-face('Novecentowide', 'Novecento/Novecentowide-DemiBold-webfont', bold, normal);

/* / Base styles */

/*
    Header block
*/
.section__header {

    h1 {
        .alpha;
        .margin(bottom, @v_gutter / 4);
    }

    h2 {
        display: inline-block;
        vertical-align: top;
        min-width: 6em;
        padding-right: 0.2em;
        .padding(left, @h_gutter);
        .margin(left, -@h_gutter);
        color: @color_white;
        background-color: @color_default;
    }
}
/* / Header block */

/*
    Data block
*/
.data {
    .small;

    // Item element
    .data__item {
        .margin(bottom, @v_gutter);

        &:last-child {
            margin-bottom: 0;
        }
    }

    // Value element
    .data__value {
        font-family: @face_b;
        font-style: italic;
    }
}
/* / Data block */

.description {
    font-family: @face_b;
    font-style: italic;
    max-width: 32em;
}