@import '../global_config';
@import '../global_mixins';

/*
    BASE
*/

/* Scale */
html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

@media only screen and (min-width: 768px) {

    html {
        font-size: 125%;
    }
}
/* / Scale */

html,
body,
.bounds {
    height: 100%;
}

.bounds {
    position: relative;
    overflow-x: hidden;
}

.section-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .accelerate;
    .padding(top, @v_gutter);
    .padding(bottom, @v_gutter);
}

.section {
    position: relative;
    .padding(right, @h_gutter);
    .padding(left, @h_gutter);
    .padding(bottom, @v_gutter);

    .section__body {

        .media-object:first-child {
            .margin(top, @v_gutter);
        }
    }

    .section__back {
        position: absolute;
        top: 0;
        .position(left, @h_gutter);
        .width(25);
        .height(25);
        .translate('-3rem, 0');
        .background-image('back.svg');
        background-position: center center;
        background-repeat: no-repeat;
        .background-size(2.25rem auto);
        opacity: 0;
    }

    .description__rule {
        .scale('1, 0');
        .transform-origin(50% 0);
    }

    &.is-active {

        .section__back {
            .translate('0, 0');
            opacity: 1;
        }

        .section__title {
            .translate('3rem, 0');
        }
    }

    &.is-ready {

        .description__rule {
            .scale('1, 1');
        }
    }
}

.ribotar {
    background-color: @color_default;
}

.description {
    position: relative;
    .padding(top, @v_gutter);
    .padding(left, @h_gutter);

    .description__rule {
        position: absolute;
        top: 0;
        left: 0;
        .width(3);
        height: 100%;
        background-color: @color_default;
    }
}